

ul.navbarUl{
    list-style: none;
   display :flex;
   justify-content:space-between;
   margin: 0 auto;
   padding:5px;
   flex-direction: row;
   background-image: linear-gradient(to Right , rgb(25, 135, 150),rgb(124, 74, 190));
   
}

ul.navbarUl li{
    margin: 0px 7px;
    padding: 0px 4px 0px;
     cursor: pointer;
     border-bottom: rgb(229, 222, 153) 2px solid;
}

ul.navbarUl li a { 
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    color: rgb(222, 224, 222);
}

ul.navbarUl li a:hover{
    color: rgb(255, 255, 255);
}

      
@media  (max-width: 720px) {
    ul.navbarUl li a{
    color: rgb(243, 243, 243);
    font-size: 12px;}

  
    ul{
        width: 100%;
    }
}