*{
  margin: 0;
  padding: 0;
  /* background-color: rgb(228, 238, 225); */
}

div.homeMainRoot{
  position: relative;
    background-image: url(../../uploads/2.jpg);
    background-size: cover;
    height: 47.6rem;
}



div.NavabrHolder{
 border: 1px solid black;
 position: absolute;
 right: 0px;
 margin-top: 3rem;;
background-color: rgba(27, 24, 24, 0.986);
}

div.logo{
    position: absolute;
    top:3rem;
    left: 6rem;
    height: 50px;
    width: max-content;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    padding: 3px;
    font-weight: 600;
    border:1.5px solid rgb(12, 190, 176);
}

div.button{
  width: fit-content;
  position: relative;
  top:31rem;
  margin: 0px auto;
}

div.button button{
  width: 190px;
  height: 60px;
  color: rgb(0, 0, 0);
  font-size: 1.7rem;
  background-color: rgb(245, 198, 10);
  border: none;
cursor: pointer;  
}


div.modaltest{
  position: relative;
  top: 10rem;
}

.modal{
  background-color: rgba(107, 64, 146, 0.247)!important;
}


.subbox2{
  border-left:1px solid rgb(68, 62, 62);
  /* float: right; */
  margin-left: 30px;

}


.subbox1{
  /* border:1px solid rgb(51, 54, 247); */
 
}



#myRange{
  -webkit-appearance: none;
  height: 8px;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(19, 10, 10);
  outline: none;

}

#myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  z-index: 3;
  /* background-color: blue; */
  position: relative;
  cursor: pointer; 
}



#myOwnSpan{
  position: absolute;
  width: 30px;
  color: antiquewhite;
  font-weight: bold;
  height: 30px;
  background-color: rgb(19, 0, 128);
  border-radius:20px;
  text-align: center;
  left: 18%;
  transform:translateX(-10px);
  z-index: 2;
  bottom: 0;
}
